<nav class="navbar navbar-light bg-light justify-content-between">
  <%= link_to "ðŸ¸ Mister Cocktail", cocktails_path, class: "text-dark" %>
  <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-outline-success my-2 my-sm-0" %>
</nav>
